@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400;1,900&family=Monoton&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --white: #fff;
  --dark: #565564;
  --dark2: #9190a0;

  --roxo: hsl(270, 50%, 40%);

  --current-primary: var(--roxo);
  --default-color-font: var(--dark);

  font-size: 62.5%;
  /* font-family: 'Fredericka the Great', cursive; */
  font-family: "Merriweather", serif;
  /* font-family: 'Monoton', cursive; */
}

html,
body {
  color: var(--default-color-font);
  background-color: transparent;

  width: 100%;
  min-height: 100vh;
  font-size: 1.6rem;

  display: flex;
  flex-direction: column;
}

.header-m {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--default-color-font);
  background-color: var(--white);

  width: 100%;
  min-height: 100px;
}

.wrapper-header {
  max-width: 1280px;

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a {
  text-decoration: none;
  color: var(--current-primary);
  font-family: "Fredericka the Great", cursive;
  font-size: 3.3rem;
}

.hero,
.about {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 500px;
}

.wrapper-hero,
.wrapper-about {
  background-color: #f1f1f1;

  width: 100%;
  max-width: 1280px;
  min-height: 500px;

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-hero {
  background-image: url("https://source.unsplash.com/random?a=10");
  background-size: cover;
  background-position: center;
}

.title-hero {
  color: var(--white);
  font-size: 4.4rem;
  max-width: 80%;
  text-align: center;
  word-wrap: break-word;
}

.wrapper-about {
  min-height: 700px;
  flex-direction: column;
  gap: 20px;
  background-color: #f8f8f8;
}

.wrapper-about h2 {
  margin-top: 20px;
  font-size: 3.3rem;
}
.wrapper-about h3 {
  color: var(--dark2);
  font-size: 1.8rem;
  font-weight: 400;
}
.wrapper-about p {
  max-width: 80%;
  text-align: center;
  padding: 0 40px;
}

.title-about {
  max-width: 80%;
  text-align: center;
  margin: 80px 0 20px 0;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card-about {
  margin: 20px 0 40px 0;
  min-width: 80%;
  max-width: 100%;

  min-height: 260px;
  max-height: 720px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 40px;
}
.card-about-box {
  min-height: 220px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.card-about-box > p {
  font-size: 1.2rem;
  text-align: center;
  word-wrap: break-word;
  max-width: 150px;
  flex: 1;
  margin: 10px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.card-about-box > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;

  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 600px) {
  .header-m {
    width: 100%;
    min-height: 60px;
    position: sticky;
    top: 0;
    left: 0;
  }

  .title-hero {
    color: var(--white);
    font-size: 2.8rem;
    max-width: 80%;
    text-align: center;
    word-wrap: break-word;
  }

  .card-about {
    flex-direction: row;
    flex-wrap: nowrap;

    min-height: 260px;
    max-height: 420px;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .card-about-box {
    min-width: 100%;
  }

  .card-about-box > img {
    width: 100%;
    aspect-ratio: 16/9;
    min-height: 300px;
    object-fit: cover;
    border-radius: 0px;
  }
}
